.App {
  font-family: sans-serif;
  text-align: center;
}

.CardHeader {
  color: #b1d4e0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 12px;
}

.CardDiv {
  border: 2px solid #145da0;
  border-radius: 1%;
  border-radius: 25px;
  background: #145da0;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  align-items: center;
}

.VideoLink {
  color: #b1d4e0;
}

.VideoLink:active {
  color: whitesmoke;
}
